.boton {
  /* position: absolute;
  top: 20px;
  left: 20px; */
  display: block;
  color: white;
  margin-top: 40px;
  width: 100px;
  height: 30px;
  font-size: 16pt;
  line-height: 30px;
}

.box {
  position: absolute;
  top: var(--top);
  left: var(--left);
  width: var(--width);
  height: var(--height);
  border: solid 2px blue;
  background-color: transparent;
}
